
@font-face {
    font-family: "kalpurush";
    src: url(../font/kalpurush.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'kalpurush', sans-serif;
}
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}
button{
    border: none;
    outline: none;
}


/* ========== NAVBAR START ======= */

.nav-link{
    font-size: 20px;
    font-weight: 400;
    line-height: 35.5px;
    color: rgba(255, 255, 255, 1);
    transition: all linear 0.3s;
    padding: 0 !important;
    padding: 0 20px !important;
    position: relative;
    
}
.nav-link:focus, .nav-link:hover {
    color: rgba(54, 163, 125, 1);
}
.nav-link:hover{
    color: rgba(54, 163, 125, 1);
}

.nav-link::after{
    content: "";
    position:absolute;
    bottom: 0;
    width: 0;
    height: 1.5px;
    left: 0;
    background-color: rgba(54, 163, 125, 1);
    transition: all linear 0.3s;
}

.nav-link:hover::after{
    width: 100%;
}
.btn-support{
    border: 3px solid rgba(54, 163, 125, 1);
    padding: 0 !important;
    padding: 11px 20px !important;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
   gap:12px
}
.btn-support span{
    color: rgba(54, 163, 125, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 35.5px;
}
.btn-support img{
    width: 23px;
    height: 19px;
}
/* ========== NAVBAR END ======= */

/* ========== BANNER SECTION START ======= */
#banner-section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0.78)), url(../img/banner-bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 297px;
    padding-bottom: 78px;
   
}

.banner-info{
    text-align: center;
}
.banner-info p{
    margin-top:137px;
    font-size: 18px;
    line-height:27px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 137px;
    width:613px;
    text-align: center;
}

.banner-info h2{
    font-size: 40px;
    line-height:63px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.banner-form{
    width: 100%;
    border-radius: 8px;
    background: #fff;
    padding:6px 6px;
}
.serch-input{
    width:75%;
}
.banner-form input{
  padding-left: 37px;
    border: none;
    outline: none;
    text-align: left;
    width: 100%;
    font-size: 15px;
    line-height:18.5px;
    font-weight: 500;
    color: rgba(169, 163, 183, 1);
}
.banner-serch-btn{
    padding: 15px 27px;
    background: rgba(54, 163, 125, 1);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 20px;
    line-height:31.5px;
    font-weight: 400;
    color: #FFFf;
}
/* ========== BANNER SECTION END ======= */

/* ========== ABOUT SECTION END ======= */
#about{
    padding: 66px 0;
    background-image:linear-gradient(#f0f0f08a, #f0f0f08a), url("../img/about-bg.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.abotu-heading h2{
    font-size: 40px;
    line-height:36px;
    font-weight: 400;
    color: rgba(54, 163, 125, 1);
    margin-bottom: 10px;
}
.abotu-heading p{
    font-size: 18px;
    line-height:27px;
    font-weight: 400;
    color: rgba(98, 109, 125, 1);
    width:720px;
}
.about-card{
    margin-top: 46px;
    margin-bottom: 90px;
}
.card-item-hover-box{
    padding: 7px 6px;
    background: transparent;
    border-radius: 12px;
    position: relative;
    transition: all linear 0.3s;
}
.about-card-item{
    padding: 158px 126px 177px 126px;
    background: #ffffff;
    border-radius: 12px;
    transition: all linear 0.3s;
}

.about-card-item h5{
    font-size: 25px;
    line-height:39px;
    font-weight: 400;
    color: rgba(54, 163, 125, 1);
    width: 155px;
    transition: all linear 0.3s;
}
.about-card-item p{
    font-size: 16px;
    line-height:25.2px;
    font-weight: 400;
    color: rgba(98, 109, 125, 1);
    width: 118px;
    transition: all linear 0.3s;
}
.card-item-hover-box::after{
    position: absolute;
    content: "";
    background-image: url(../img/card-item-bg-up.svg);
    top: 0;
    right: 0;
    width: 170px;
    height: 155px;
}
.card-item-hover-box::before{
    position: absolute;
    content: "";
    background-image: url(../img/card-item-bg-bottom.svg);
    bottom: 0;
    left: 0;
    width: 170px;
    height: 155px;
}


.card-item-hover-box:hover {
    background:rgba(54, 163, 125, 1);
    transform: translateY(-1px);
}
.card-item-hover-box:hover .about-card-item{
    background:rgba(54, 163, 125, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}
.card-item-hover-box:hover .about-card-item h5{
    color: rgba(255, 255, 255, 1);
}
.card-item-hover-box:hover .about-card-item p{
    color: rgba(255, 255, 255, 1);
}
.about-btn button{
    padding: 15px 23px;
    background:rgba(54, 163, 125, 1);
    border-radius: 8px;
}
.about-btn button span {
    font-size: 20px;
    line-height: 31.5px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
   text-align: center;
   padding-right: 21px;
   padding-left: 10px;
}
.about-btn button i{
    color: rgba(255, 255, 255, 1);
}
/* ========== ABOUT SECTION END ======= */

/* ========== INFORMATION SECTION START ======= */
    #information{
        padding:50px 0;
    }
    .information-bg{
        background-image: url("../img/information-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: 225px 0;
    }
    .information-wrapper{
        width:63.151vw; /* width:970px  */
        height:238px;
    }
    .img-overlay{
        position: absolute;
        font-weight: 400;
        font-size: 23px;
        line-height: 34.5px;
        letter-spacing: 0%;
        color: rgba(255, 255, 255, 1);
        width: 856px;
        text-align: center;
        content: "";
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }
/* ========== INFORMATION SECTION END ======= */

/* ========== SERVICE SECTION START ======= */
#service{
    background-image: linear-gradient(#f0f0f08a, #f0f0f08a),url("../img/service-bg.png");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 70px 0;
}

.service-header h2{
    font-weight: 400;
   font-size: 40px;
   line-height: 63px;
   letter-spacing: 0%;
   text-align: center;
   color: rgba(54, 163, 125, 1);

}

.service-header p{
    width: 724px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 52px;
}

.service-card{
    padding: 172px 130px;
    background-image: url(../img/service-card-bg.png);
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: cover;
   border-radius: 12px;
   transition: all linear 0.3s;
}
.service-card:hover{
    background-image: url("../img/service-card-bg-hover.png");
}

.service-card h4{
    font-weight: 400;
    font-size: 25px;
    line-height: 39.38px;
    color:rgba(54, 163, 125, 1);
}
.service-card p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28.35px;
    color: rgba(98, 109, 125, 1);
    width: 120px;
}
.service-btn button{
    margin-top: 52px;
    padding: 15px 20px;
    background: rgba(54, 163, 125, 1);
    color: rgba(255, 255, 255, 1); 
    border-radius: 8px;
}

.service-btn button span{
    font-weight: 400;
    font-size: 20px;
    line-height: 31.5px; 
     margin-right: 18px;
     margin-left: 10px;
}
.service-btn button i{
    font-size: 28px;
}
/* ========== SERVICE SECTION END ======= */

/* ========== CTA SECTION END ======= */
    #cta{
        margin-bottom: 50px;
    }

    .cta-wrapper{
        background-image: url("../img/cta-bg.png");
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        padding: 92px 0;
    }
    .cta-heading h2{
        font-weight: 400;
        font-size: 40px;
        line-height: 63px;
        text-align: center;
        color: rgba(54, 163, 125, 1);
        margin: 0 auto;
        padding: 0 215px;
    }
    .cta-heading p{
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: rgba(98, 109, 125, 1);
        width: 744px;
        margin-top: 10px;
        margin-bottom: 76px;
    }
    .cta-btn button{
        padding: 14px 34px;
        background: rgba(54, 163, 125, 1);
        border-radius: 10px;
    }
    .cta-btn button span:first-child{
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 21.78px;
        color:rgba(255, 255, 255, 1)
    }
    .cta-btn button span:last-child{
        font-family: "Inter", serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 21.78px;;
        color: rgba(255, 255, 255, 1)
    }
    .cta-btn button i{
        font-size: 30px;
        color: #FFFf;
    }
/* ========== CTA SECTION END ======= */

/* ========== FOOTER SECTION START ======= */
#footer-section{
    padding-top: 74px;
    background-color: rgba(63, 168, 131, 1);
}
.footer-bg-img{
    background-image: url("../img/footer-bg-img.png");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-bottom: 74px;
}
.footer-heading-wrapper{
    margin-bottom: 65px;
}
.footer-heading-wrapper img{
    border: 1.5px solid #ffffff;
    border-radius: 12px;
    width: 47px;
    height: 47px;
    padding: 8px;
}

.footer-heading-wrapper span{
    font-weight: 400;
    font-size: 28px;
    line-height: 44.1px;
    color: rgba(255, 255, 255, 1);
}
.footer-menu-heading h5{
     margin-bottom: 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 31.5px;
    color:rgba(255, 255, 255, 1);
}
.footer-menu-heading p{
   
    font-weight: 400;
    font-size: 16px;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
}

.footer-menu-left .footer-menu-heading ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
    
}
.footer-menu-left .footer-menu-heading ul{
    padding-left: 0 !important;
}
.footer-menu-left .footer-menu-heading ul li{
    margin-bottom: 17px;
}

.footer-eng-text{
    font-family: "Inter", serif;
}
/* ========== FOOTER SECTION END ======= */





