
@font-face {
    font-family: "kalpurush";
    src: url(../font/kalpurush.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'kalpurush', sans-serif;
   
}
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}
button{
    border: none;
    outline: none;
}


/* ========== NAVBAR START ======= */

.nav-link{
    font-size: 20px;
    font-weight: 400;
    line-height: 35.5px;
    color: rgba(255, 255, 255, 1);
    transition: all linear 0.3s;
    padding: 0 !important;
    padding: 0 20px !important;
    position: relative;
    
}
.nav-link:hover{
    color: rgba(54, 163, 125, 1);
}

.nav-link::after{
    content: "";
    position:absolute;
    bottom: 0;
    width: 0;
    height: 1.5px;
    left: 0;
    background-color: rgba(54, 163, 125, 1);
    transition: all linear 0.3s;
}

.nav-link:hover::after{
    width: 100%;
}
.btn-support{
    border: 3px solid rgba(54, 163, 125, 1);
    padding: 0 !important;
    padding: 11px 20px !important;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
   gap:12px
}
.btn-support span{
    color: rgba(54, 163, 125, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 35.5px;
}
.btn-support img{
    width: 23px;
    height: 19px;
}
/* ========== NAVBAR END ======= */

/* ========== BANNER SECTION START ======= */
#banner-section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0.78)), url(../img/banner-bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 297px;
    padding-bottom: 78px;
   
}

.banner-info{
    text-align: center;
}
.banner-info p{
    margin-top:137px;
    font-size: 18px;
    line-height:27px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 137px;
    width:613px;
    text-align: center;
}

.banner-info h2{
    font-size: 40px;
    line-height:63px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.banner-form{
    width: 100%;
    border-radius: 8px;
    background: #fff;
    padding:6px 6px;
}
.serch-input{
    width:75%;
}
.banner-form input{
  padding-left: 37px;
    border: none;
    outline: none;
    text-align: left;
    width: 100%;
    font-size: 15px;
    line-height:18.5px;
    font-weight: 500;
    color: rgba(169, 163, 183, 1);
}
.banner-serch-btn{
    padding: 15px 27px;
    background: rgba(54, 163, 125, 1);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 20px;
    line-height:31.5px;
    font-weight: 400;
    color: #FFFf;
}
/* ========== BANNER SECTION END ======= */

/* ========== ABOUT SECTION END ======= */
#about{
    padding: 66px 0;
    background-image:linear-gradient(#f0f0f04f, #f0f0f000), url("../img/about-bg.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.abotu-heading h2{
    font-size: 40px;
    line-height:36px;
    font-weight: 400;
    color: rgba(54, 163, 125, 1);
    margin-bottom: 10px;
}
.abotu-heading p{
    font-size: 18px;
    line-height:27px;
    font-weight: 400;
    color: rgba(98, 109, 125, 1);
    width:720px;
}
.about-card{
    margin-top: 46px;
    margin-bottom: 90px;
}
.card-item-hover-box{
    padding: 7px 6px;
    background: transparent;
    border-radius: 12px;
    position: relative;
    transition: all linear 0.3s;
}
.about-card-item{
    padding: 158px 126px 177px 126px;
    background: #ffffff;
    border-radius: 12px;
    transition: all linear 0.3s;
}

.about-card-item h5{
    font-size: 25px;
    line-height:39px;
    font-weight: 400;
    color: rgba(54, 163, 125, 1);
    width: 155px;
    transition: all linear 0.3s;
}
.about-card-item p{
    font-size: 16px;
    line-height:25.2px;
    font-weight: 400;
    color: rgba(98, 109, 125, 1);
    width: 118px;
    transition: all linear 0.3s;
}
.card-item-hover-box::after{
    position: absolute;
    content: "";
    background-image: url(../img/card-item-bg-up.svg);
    top: 0;
    right: 0;
    width: 170px;
    height: 155px;
}
.card-item-hover-box::before{
    position: absolute;
    content: "";
    background-image: url(../img/card-item-bg-bottom.svg);
    bottom: 0;
    left: 0;
    width: 170px;
    height: 155px;
}


.card-item-hover-box:hover {
    background:rgba(54, 163, 125, 1);
    transform: translateY(-1px);
}
.card-item-hover-box:hover .about-card-item{
    background:rgba(54, 163, 125, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}
.card-item-hover-box:hover .about-card-item h5{
    color: rgba(255, 255, 255, 1);
}
.card-item-hover-box:hover .about-card-item p{
    color: rgba(255, 255, 255, 1);
}
.about-btn button{
    padding: 15px 23px;
    background:rgba(54, 163, 125, 1);
    border-radius: 8px;
}
.about-btn button span {
    font-size: 20px;
    line-height: 31.5px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
   text-align: center;
   padding-right: 21px;
   padding-left: 10px;
}
.about-btn button i{
    color: rgba(255, 255, 255, 1);
}
/* ========== ABOUT SECTION END ======= */

/* ========== INFORMATION SECTION START ======= */
    #information{
        padding:50px 0;
    }
    .information-bg{
        background-image: url("../img/information-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: 225px 0;
    }
    .information-wrapper{
        width:970px ;
        height:238px;
    }
    .img-overlay{
        position: absolute;
        font-weight: 400;
        font-size: 23px;
        line-height: 34.5px;
        letter-spacing: 0%;
        color: rgba(255, 255, 255, 1);
        width: 856px;
        text-align: center;
        content: "";
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }
/* ========== INFORMATION SECTION END ======= */


